{% extends 'app/base.html' %}
{% load app_tags %}

{% block title %} Чек лист | CallingProject {% endblock %}

{% block content %}
    <div class="wrapper">
    <a class="button is-success is-hovered add_patient_button right" href="{% url 'check_lists_add' patient.pk %}"><i class="fa fa-plus"></i>Добавить чек-лист</a>

        <span class="block_title">{{ patient.last_name }} {{ patient.first_name }} {{ patient.patronymic }}</span>

    {% if check_lists %}
        <button onclick="toggleModal()">Модалка</button>
        <div class="modal" id="modal">
          <div class="modal-background" style="background: black; opacity: 0.6;" onclick="toggleModal()"></div>
          <div class="modal-content" style="background: white; padding: 20px;">
            Это модальное окно
          </div>
          <button class="modal-close is-large" aria-label="close" onclick="toggleModal()"></button>
        </div>
    <table class="table is-striped is-fullwidth">
        <thead>
        <tr>
            <td>Создал</td>
            <td>Дата</td>
            <td>Самочувствие</td>
            <td>Жалобы</td>
            <td>Вес</td>
            <td class="td_flex">Действия</td>
        </tr>
        </thead>
        <tbody>
        {% for check_list in check_lists %}
            <tr>
                <td>{{ check_list.user.first_name }} {{ check_list.user.last_name }}</td>
                <td>{{ check_list.date|isNull }}</td>
                <td>{{ check_list.wellbeing|isNull }}</td>
                <td>{% if check_list.complaints %}Есть{% else %}Нет{% endif %}</td>
                <td>{{ check_list.weight|isNull }}</td>
                <td class="td_flex">
                    <a class="button is-small is-primary" href="{{ check_list.get_absolute_url }}">Подробнее</a>
                    <a class="button is-small is-primary" href="{% url 'check_lists' patient.id %}">В окне</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        {% include 'app/pagination.html' with page=check_lists %}
    {% else %}
        <p class="not_found">Данных не найдено</p>
    {% endif %}

    </div>

{% endblock %}