{% extends 'app/base.html' %}
{% load app_tags %}
{% block title %} {{ check_list.patient }} ({{ check_list.date }}) | CallingProject {% endblock %}

{% block content %}
    <div>
        <div class="block_title">Чек-лист ({{ check_list.patient.last_name }} {{ check_list.patient.first_name }} {{ check_list.patient.patronymic }}) - {{ check_list.patient.date }}</div>
        <div class="tabs is-boxed patient_tabs">
      <ul>
        <li data-id="1"  class="is-active" onclick="click_tabs_item(this)">
          <a>
            <span class="icon is-small"><i class="fa fa-info" aria-hidden="true"></i></span>
            <span>Общее состояние</span>
          </a>
        </li>
        <li data-id="2" onclick="click_tabs_item(this)">
          <a>
            <span class="icon is-small"><i class="fa fa-stethoscope" aria-hidden="true"></i></span>
            <span>Мочеиспускание</span>
          </a>
        </li>
        <li data-id="3" onclick="click_tabs_item(this)">
          <a>
            <span class="icon is-small"><i class="fa fa-hospital-o" aria-hidden="true"></i></span>
            <span>Мед.пункт</span>
          </a>
        </li>

          <li data-id="4" onclick="click_tabs_item(this)">
          <a>
            <span class="icon is-small"><i class="fa fa-exclamation-circle" aria-hidden="true"></i></span>
            <span>Опасные признаки</span>
          </a>
        </li>
          <li data-id="5" onclick="click_tabs_item(this)">
          <a>
            <span class="icon is-small"><i class="fa fa-shield" aria-hidden="true"></i></span>
              <span>Безопасность</span>
          </a>
        </li>
          </li>
          <li data-id="6" onclick="click_tabs_item(this)">
          <a>
            <span class="icon is-small"><i class="fa fa-question" aria-hidden="true"></i></span>
            <span>Информированность</span>
          </a>
        </li>
      </ul>
        <div>
            <form action="" method="post" class="add_patient_form tabs_blocks">
        {% csrf_token %}
            <div id="form_block_1"  class="tabs_block show_block">
                <div>
                    <label for="">Самочувствие</label>

                    <div class="select is-info">
                    <select name="wellbeing" id="">
                        {% for wellbeing in wellbeings %}
                            <option value="{{ wellbeing.id }}" {% if wellbeing == check_list.wellbeing %} selected {% endif %}>{{ wellbeing.name }}</option>
                        {% endfor %}
                    </select>
                    </div>
                </div>
                <div>
                    <label for="complaints" class="checkbox is-info">
                        Жалобы
                    </label>
                    <label class="switch">
                          <input type="checkbox" id="complaints" {%  if check_list.complaints %} checked {% endif %} onchange="complaints_field_active()" name="complaints">
                          <span class="slider"></span>
                    </label>
                </div>
                <div>
                    <label for="">Комментарии для жалоб</label>
                    <textarea name="complaints_text" id="complaints_text" {%  if not check_list.complaints %} disabled {% endif %} class="textarea is-info" id="">{{ check_list.complaints_text }}</textarea>
                </div>
                <div>
                    <label for="">Вес</label>
                    <input class="input is-info" name="weight" type="number" value="{{ check_list.weight }}">
                </div>
                    <div class="select is-multiple is-info">
                        <label for="">Медикаменты</label>
                    <select name="medications" multiple>
                        {% for medication in medications %}
                            <option value="{{ medication.id }}" {% if medication in check_list.medications.all %} selected {% endif %}>{{ medication.name }}</option>
                        {% endfor %}
                    </select>
                    </div>
            </div>
        <div id="form_block_2"  class="tabs_block">
                <div>
                    <label for="urinary_frequency" class="label_text">Количество мочеиспускании</label>
                    <input type="number" class="input is-info" id="urinary_frequency" name="urinary_frequency" value="{{ check_list.urinary_frequency }}">
                </div>
                <div>
                    <label for="signs_urinary_infections" class="checkbox is-info label_text">
                        Признаки инфекции мочевыводящих путей
                    </label>
                    <label class="switch">
                          <input type="checkbox" id="signs_urinary_infections" {% if check_list.urinary_frequency %} checked {% endif %} name="signs_urinary_infections">
                          <span class="slider"></span>
                    </label>
                </div>
                <div>
                    <label for="constipation" class="label_text">Запор</label>
                    <label class="switch">
                          <input type="checkbox" id="constipation" {% if check_list.constipation %} checked {% endif %} name="constipation">
                          <span class="slider"></span>
                    </label>
                </div>
            </div>


            <div id="form_block_3"  class="tabs_block">
               <div>
                    <label for="transposrt" class="label_text">Транспорт</label>
                    <label class="switch">
                          <input type="checkbox" id="transposrt" name="transposrt" {% if check_list.transposrt %} checked {% endif %}>
                          <span class="slider"></span>
                    </label>
                </div>
                <div>
                    <label for="finance" class="label_text">Финансы</label>
                    <label class="switch">
                          <input type="checkbox" id="finance" name="finance" {% if check_list.finance %} checked {% endif %}>
                          <span class="slider"></span>
                    </label>
                </div>
                <div>
                    <label for="ambulance" class="label_text">Скорая</label>
                    <label class="switch">
                          <input type="checkbox" id="ambulance" name="ambulance" {% if check_list.ambulance %} checked {% endif %}>
                          <span class="slider"></span>
                    </label>
                </div>
            </div>
        <div id="form_block_4"  class="tabs_block">
                {% for dangerou in dangerous %}
                    <div>
                        <span class="label_text">{{ dangerou.name }}</span>
                        <label class="switch">
                          <input type="checkbox" name="dangerous_sign_{{ dangerou.id }}" {% if dangerou in check_list.dangerous_signs.all %} checked {% endif %}>
                          <span class="slider"></span>
                        </label>
                    </div>
                {% endfor %}
            </div>
        <div id="form_block_5"  class="tabs_block">

                <div>
                    <label for="emotion_point" class="checkbox is-info">
                        Эмоциональная оценка
                    </label>
                      <input type="number" class="input is-info"  id="emotion_point" name="emotion_point" value="{{ check_list.emotion_point }}">
                </div>
                <div>
                    <label for="domestic_violence">Оценка вероятности бытового насилия</label>
                    <input type="number" class="input is-info"  id="domestic_violence" name="domestic_violence" value="{{ check_list.domestic_violence }}">
                </div>
                <div>
                    <label for="support">Поддержка от окружения</label>
                    <label class="switch">
                          <input type="checkbox" id="support" name="support" {% if check_list.support %} checked {% endif %}>
                          <span class="slider"></span>
                    </label>
                </div>
            </div>
        <div id="form_block_6"  class="tabs_block">
                <div>
                    <label for="breast_feeding">Грудное вскармливание и ранний контакт «кожа к коже»</label>
                    <input type="number" class="input is-info"  id="breast_feeding" name="breast_feeding" value="{{ check_list.breast_feeding }}">
                </div>
                <div>
                    <label for="planned">Планирование семьи</label>
                    <input type="number" class="input is-info"  id="planned" name="planned" value="{{ check_list.planned }}">
                </div>
                <div>
                    <label for="profilactic">Профилактические процедуры</label>
                    <input class="input is-info" name="profilactic" type="number" value="{{ check_list.profilactic }}">
                </div>
            </div>
        <!--<button type="submit" class="button is-warning" style="margin: 10px auto;display: block;">Изменить</button>-->
        </form>
        </div>
        </div>
    </div>
{% endblock %}