{% extends 'app/base.html' %}
{% load app_tags %}

{% block title %} Чек лист | CallingProject {% endblock %}

{% block content %}
    <div class="wrapper">
    <a class="button is-success is-hovered add_patient_button right" href="{% url 'check_lists_add' patient.pk %}"><i class="fa fa-plus"></i>Добавить чек-лист</a>

        <span class="block_title">{{ patient.last_name }} {{ patient.first_name }} {{ patient.patronymic }}</span>

    {% if check_lists %}
    <table class="table is-striped is-fullwidth">
        <thead>
        <tr>
            <td>Создал</td>
            <td>Дата</td>
            <td>Самочувствие</td>
            <td>Жалобы</td>
            <td>Вес</td>
        </tr>
        </thead>
        <tbody>
        {% for check_list in check_lists %}
            <tr>
                <td>{{ check_list.user.first_name }} {{ check_list.user.last_name }}</td>
                <td>{{ check_list.date|isNull }}</td>
                <td>{{ check_list.wellbeing|isNull }}</td>
                <td>{% if check_list.complaints %}Есть{% else %}Нет{% endif %}</td>
                <td>{{ check_list.weight|isNull }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        {% include 'app/pagination.html' with page=check_lists %}
    {% else %}
        <p class="not_found">Данных не найдено</p>
    {% endif %}

    </div>

{% endblock %}