{% extends 'app/base.html' %}

{% block title %} {{ title }} | CallingProject{% endblock %}


{% block content %}
    <form action="" method="post" class="admin_panel_form" id="admin_panel_form">
        {% csrf_token %}
        <input class="input is-primary" name="name" type="text" placeholder="{{ title }}">
        <button type="submit" class="button is-primary">Создать</button>
    </form>

    <table class="table is-striped">
        <thead>
            <tr>
                <td>Название</td>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr class="tr_pointer">
                <td style="padding: 0px">
                    <span onclick="detail_admin_item({{ item.id }}, '{{ item.name }}')" class="item_text">{{ item.name }}</span>
                    <div id="detail_item_{{ item.id }}"></div>
                </td>
            </tr>

            {% endfor %}
        </tbody>
    </table>


{% endblock %}

